<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a routerLink="/picklist-barcode" class="navbar-brand">Asset Management</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar1" >
      <ul class="nav navbar-nav">
        <li><a routerLink="/picklist-barcode">Generate Asset Audit</a></li>
        <li><a routerLink="/audit-asset">Complete Audit</a></li>
      </ul>

    </div>
  </div>
</nav>