<div class="container">
  <h3>Pick List Picking</h3>
  <hr>
  <form (ngSubmit)="onSubmit();" #fgbarcodeForm="ngForm">

    <div class="form-group">
      <label for="display_name">Select Pick List</label>
      <select name="display_name"
      	class="form-control"
      	[(ngModel)]="model.display_name"
      	#display_name="ngModel"
      	(change)="onChangePartNumber($event)"
      	required>
	      <option *ngFor="let m of picklistMap" [ngValue]="m">{{m.display_name}}</option>
      </select>
      <div [hidden]="display_name.valid || display_name.pristine"
        class="alert alert-danger">
        Picklist is required
      </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button><br /><br />

    <div class="table-responsive" style="font-size:14px;" *ngIf="this.picklistDisplay.length > 0">
      <table class="table table-bordered table-striped table-highlight;" >
        <thead>
          <tr>
            <th><input type="checkbox" name="selectall" [(ngModel)]="selectedAll" (change)="selectAll();"/></th>
            <th>Part Id</th>
            <th>Part Number</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of picklistDisplay; let idx = index;">
              <td style="text-align:center; vertical-align:center">
                <input type="checkbox"
                  name='checkbox{{picklistDisplay[idx]["_id"]}}'
                  [(ngModel)]="picklistDisplay[idx].selected"
                  (change)="checkIfAllSelected()"
                  id="data._id" />
          <!-- <tr *ngFor="let data of picklistDisplay"> -->
            <td>
              {{data.barcode}} 
            </td>
            <td>
              {{data.part.part_number}}
            </td>
            <td>
              {{data.location_id.display_name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>