<div class="container">
  <h3>Pick List Picking</h3>
  <hr>
  <form (ngSubmit)="onSubmit();deletepicklistForm.reset();" #deletepicklistForm="ngForm">

    <div class="form-group">
      <label for="display_name">Select Pick List</label>
      <select name="display_name"
      	class="form-control"
      	[(ngModel)]="model.display_name"
      	#display_name="ngModel"
      	(change)="onChangePartNumber($event)"
      	required>
	      <option *ngFor="let m of picklistMap" [ngValue]="m">{{m.display_name}}</option>
      </select>
      <div [hidden]="display_name.valid || display_name.pristine"
        class="alert alert-danger">
        Picklist is required
      </div>
    </div>

    <button type="submit" class="btn btn-success">Delete</button>
  </form>
</div>